set ideajoin

let mapleader = " "

inoremap jk <ESC>
tnoremap jk <C-\><C-n> 
nnoremap <leader>` :terminal<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>q :bd<CR>

" Paste
inoremap <C-p>j <C-r>"
inoremap <C-p>k <C-r>*

" Moving Between Windows
map <leader>h :wincmd h<CR>
map <leader>j :wincmd j<CR>
map <leader>k :wincmd k<CR>
map <leader>l :wincmd l<CR>

" Moving Between Buffers
nnoremap <C-l> :bnext<CR>
nnoremap <C-h> :bprev<CR>

" Resize Windows
nnoremap <Left> :vertical resize +1<CR>
nnoremap <Right> :vertical resize -1<CR>
nnoremap <Up> :resize -1<CR>
nnoremap <Down> :resize +1<CR>
