" set ideajoin

set clipboard=unnamedplus

inoremap jk <ESC>
tnoremap jk <C-\><C-n> 
nnoremap <Space>` :terminal<CR>
nnoremap <Space>w :w<CR>
nnoremap <Space>q :bd<CR>

map <Space>h :wincmd h<CR>
map <Space>j :wincmd j<CR>
map <Space>k :wincmd k<CR>
map <Space>l :wincmd l<CR>

nnoremap <C-l> :bnext<CR>
nnoremap <C-h> :bprev<CR>

nnoremap <Left> :vertical resize +1<CR>
nnoremap <Right> :vertical resize -1<CR>
nnoremap <Up> :resize -1<CR>
nnoremap <Down> :resize +1<CR>

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap J mzJ`z

nnoremap n nzzzv
nnoremap N Nzzzv

xnoremap <Space>p "_dP 
nnoremap <Space>y "+y
vnoremap <Space>y "+y
nmap <Space>Y "+Y
nnoremap <Space>d "_d
vnoremap <Space>d "_d
nnoremap <Space>s :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>
set clipboard^=ideaput