#!/bin/sh

export LANG=en_US.UTF-8

export GOPATH="$HOME/go"
export GOROOT="/usr/lib/go"

export PATH="$HOME/bin:$HOME/.local/bin:$GOROOT/bin:$GOPATH/bin:$PATH"

xfce4-clipman &
sh $HOME/bin/dual_monitor.sh &
