@import "rose-pine.css";

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

* {
    font-family: JetBrainsMonoNL Nerd Font Propo;
    font-size: 16px;
    font-weight: bold;
	border: none;
	min-height: 0;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#pulseaudio.muted {
    color: @muted;
}

#network.disabled,
#network.disconnected {
    color: @muted;
}

#battery.charging,
#battery.charging.warning,
#battery.charging.critical {
	color: @pine;
	background-color: @base;
}

#battery.warning {
    color: @base;
    background-color: @gold;
    }

#battery.critical {
    color: @base;
    background-color: @love;
}

/* LEFT SECTION */
#clock,
#workspaces,
#scratchpad {
	margin: 3px 0px;
	padding: 3px 16px;
	background-color: @base;
	border: 1px @overlay solid;
}

/* RIGHT SECTION */
#pulseaudio,
#backlight,
#network,
#battery,
#tray,
#idle_inhibitor {
	margin: 3px 0px;
	padding: 3px 16px;
	background-color: @base;
	border: 1px @overlay solid;
}

/* MODE AND WINDOW */
#window,
#mode {
	margin: 3px 10px;
	padding: 3px 16px;
	background-color: @pine;
	border-radius: 14px;
	border: 1px @overlay solid;
}

#mode {
	background-color: @love;
}

#workspaces button {
  color: @highlightMed;
}
#workspaces button.current_output {
  color: @text;
}
#workspaces button.focused {
  color: @love;
}
#workspaces button.urgent {
  color: @base;
  background: @pine;
}
#workspaces button:hover {
  background: @highlightLow;
  color: @love;
}

/* LEFT ROUNDED */
#clock,
#pulseaudio {
	margin-left: 10px;
	border-radius: 14px 0px 0px 14px;
}

/* RIGHT ROUNDED */
#workspaces,
#tray {
	margin-right: 10px;
	border-radius: 0px 14px 14px 0px;
}

