configuration {
  modi: "window,drun,ssh,combi,run";
  font: "JetBrainsMono Nerd Font Regular 12";
  combi-modi: "window,drun";
  display-ssh:    " ";
  display-run:    " ";
  display-drun:   " ";
  display-window: " ";
  display-combi:  " ";
  show-icons:     true;
}

@theme "nord"
